<template>
  <div class="container">
    <input
      v-model="searchData"
      @keyup="getData()"
      type="text"
      id="inputPassword5"
      placeholder="Search Country"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
    <table class="table table-striped" style="width: 100%">
      <thead>
        <tr>
          <th>No</th>
          <th>Flags</th>
          <th>Country Code</th>
          <th>Native Country Name</th>
          <th>Alternative Country Name</th>
          <th>Country Calling Codes</th>
          <th>
            <button
              class="btn btn-dark"
              type="button"
              data-bs-toggle="dropdown"
              style="width: auto"
            >
              {{ sorting }}
              <i class="fa fa-chevron-down" style="float: right"></i>
            </button>
            <div style="cursor: pointer" class="dropdown-menu each-drop-menu">
              <ul style="list-style: none" class="scrollable-menu">
                <li @click="getType('A-Z')">
                  <div class="menu-item">
                    <p>A-Z</p>
                  </div>
                </li>
                <li @click="getType('Z-A')">
                  <div class="menu-item">
                    <p>Z-A</p>
                  </div>
                </li>
              </ul>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          v-for="(item, i) in items"
          :key="i"
          @click="getDetail(item)"
        >
          <td>{{ i + 1 }}</td>
          <td><img style="width: 50px" :src="item.flags.png" /></td>
          <td>{{ item.name.official }}</td>
          <td>{{ item.cca2 + "/" + item.cca3 }}</td>
          <td>
            <p v-for="(x, e) in item.name.nativeName" :key="e">{{ x.official }}</p>
          </td>
          <td>
            <p v-for="(y, index) in item.altSpellings" :key="index">{{ y }}</p>
          </td>
          <td>
            <p>{{ item.idd.root }}</p>
            <p v-for="(key, k) in item.idd.suffixes" :key="k">{{ key }}</p>
          </td>
          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div style="display: flex">
                    <label style="margin-right: 10px; font-weight: bold">Flags :</label>
                    <p><img style="width: 50px" :src="form.flags" /></p>
                  </div>
                  <div style="display: flex; flex-direction: column">
                    <label style="margin-right: 10px; font-weight: bold"
                      >Country Name :</label
                    >
                    <p>{{ form.country }}</p>
                  </div>
                  <div style="display: flex">
                    <label style="margin-right: 10px; font-weight: bold"
                      >Country Code1 :</label
                    >
                    <p>{{ form.cca2 }}</p>
                  </div>
                  <div style="display: flex">
                    <label style="margin-right: 10px; font-weight: bold"
                      >Country Code2 :</label
                    >
                    <p>{{ form.cca3 }}</p>
                  </div>
                  <div style="display: flex">
                    <label style="margin-right: 10px; font-weight: bold"
                      >NativeName :</label
                    >
                    <p>
                      <span style="margin-right: 10px; font-weight: bold">Official :</span
                      >{{ form.nativeName }}
                    </p>
                    <p>
                      <span style="margin-right: 10px; font-weight: bold">Common :</span
                      >{{ form.nativeName1 }}
                    </p>
                  </div>

                  <div style="display: flex; flex-direction: column">
                    <label style="margin-right: 10px; font-weight: bold"
                      >Alternative Country Name :</label
                    >
                    <input
                      :disabled="true"
                      style="border: none"
                      v-model="form.altSpellings"
                      type="text"
                    />
                  </div>
                  <div style="display: flex; flex-direction: column">
                    <label style="margin-right: 10px; font-weight: bold"
                      >Country Calling Codes :</label
                    >
                    {{ form.idd }}
                    <input
                      :disabled="true"
                      style="border: none"
                      v-model="form.suffixes"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <button class="btn btn-outline-dark" @click="backPage">prev</button>
    <button
      class="btn btn-outline-dark"
      v-for="item in Math.ceil(dataPage.length / perpage)"
      :key="item"
      @click="goToPage(item)"
    >
      {{ item }}
    </button>
    <button class="btn btn-outline-dark" @click="nextPage">next</button>
  </div>
</template>

<script>
import Paginate from "vuejs-paginate-next";
import axios from "axios";
export default {
  omponents: {
    paginate: Paginate,
  },
  data() {
    return {
      page: 1,
      perpage: 25,
      searchData: "",
      // items:[],
      form: {
        flags: "",
        country: "",
        cca2: "",
        cca3: "",
        nativeName: "",
        nativeName1: "",
        altSpellings: "",
        idd: "",
        suffixes: "",
      },
      dataPage: [],
      sorting: "A-Z",
    };
  },
  computed: {
    items() {
      return this.dataPage.slice(
        (this.page - 1) * this.perpage,
        this.page * this.perpage
      );
    },
  },

  mounted() {
    this.getData();
  },
  methods: {
    getType(x) {
      this.sorting = x;

      if (this.sorting == "A-Z") {
        console.log(this.dataPage.sort((a, b) => (a.song > b.song ? 1 : -1)));
      } else {
        this.dataPage.sort((a, b) => (a.song < b.song ? 1 : -1));
      }
    },
    getData() {
      axios.get("https://restcountries.com/v3.1/all", this.search).then((res) => {
        if (this.searchData) {
          this.dataPage = res.data.filter((dataPage) =>
            dataPage.name.official.toLowerCase().includes(this.searchData.toLowerCase())
          );
        } else {
          //  this.items = res.data
          this.dataPage = res.data;
        }
      });
    },
    nextPage() {
      if (this.page !== Math.ceil(this.dataPage.length / this.perpage)) {
        this.page += 1;
        console.log(this.page);
      }
    },
    backPage() {
      if (this.page !== 1) {
        this.page -= 1;
        console.log(this.page);
      }
    },
    goToPage(numPage) {
      this.page = numPage;
      console.log(this.page);
    },

    getDetail(x) {
      this.form.flags = x.flags.png;
      this.form.country = x.name.official;
      this.form.cca2 = x.cca2;
      this.form.cca3 = x.cca3;
      this.form.altSpellings = x.altSpellings;
      this.form.idd = x.idd.root;
      this.form.suffixes = x.idd.suffixes;
      this.items.forEach((e) => {
        var y = e.name.nativeName;
        for (e in y) {
          this.form.nativeName = y[e].official;
          this.form.nativeName1 = y[e].common;
        }
      });
    },
  },
};
</script>
