<template>
  <h1>Catalog</h1>
  <HelloWorld />
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  components: {
    HelloWorld,
  },
};
</script>

<style>
#app {
  margin: 50px 0;
}
h1 {
  text-align: center;
}
</style>
